@import "../default/mixins.less";



/*
------------------------------ Секция (начало) --------------------------*/




.b-section {
	padding: 80px 100px;

	&._no-padding-bottom { padding-bottom: 0 }

}












/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
@media screen and (min-width: 480px) {
	
}





/*---------------------------------- от 768 ------------------------------------*/
@media screen and (min-width: 768px) {
	
}





/*---------------------------------- от 1024 -----------------------------------*/
@media screen and (min-width: 1024px) {
	
}





/*---------------------------------- от 1366 -----------------------------------*/
@media screen and (min-width: 1366px) {
	
}





/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
@media screen and (max-width: 1365px) {
	
}





/*---------------------------------- до 1024 --------------------------------*/
@media screen and (max-width: 1023px) {
	
}





/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
	.b-section {
		padding: 40px 50px;
	}
}





/*---------------------------------- до 480 ---------------------------------*/
@media screen and (max-width: 479px) {
	.b-section {
		padding: 20px 25px;
	}
}




/*------------------------------ Секция (конец) ---------------------------*/

._hided {
  display: none;
}

.lips-image {
	margin-top: -160px;
}

.b-about__top .two-columns {
	font-size: 19px;
	line-height: 25px;
}

.two-columns .col-md-6 {
	width: 45%;
	margin-right: 5%;
	font-size: 19px;
	line-height: 23px;
	padding-right: 0px;
	padding-left: 0px;
}

.course-form-holder {
	width: 100%;
	transition: all .5s;
	// overflow: hidden;
	display: none;

	.col-md-5 {
		margin: 0 auto;
		float: none;
	}
}

.course-form-holder form label {
	font-size: 12px;
	margin: 10px 0 0 0;
	padding: 0;
	line-height: 14px;
	display: block;
}