/*
------------------------------ Секция (начало) --------------------------*/
.b-section {
  padding: 80px 100px;
}
.b-section._no-padding-bottom {
  padding-bottom: 0;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  .b-section {
    padding: 40px 50px;
  }
}
/*---------------------------------- до 480 ---------------------------------*/
@media screen and (max-width: 479px) {
  .b-section {
    padding: 20px 25px;
  }
}
/*------------------------------ Секция (конец) ---------------------------*/
