/*
------------------------------ Слайдеры (начало) --------------------------*/
.b-slider {
  position: relative;
}
/* контролы слайдера*/
.b-slider .owl-prev,
.b-slider .owl-next {
  position: relative;
  top: -2rem;
  border-radius: 2rem !important;
  width: 4rem;
  height: 4rem;
  line-height: 3.7rem;
  font-size: 3rem !important;
  padding: 0 !important;
  background: none !important;
  color: #000 !important;
  text-align: center;
  font-size: 2rem;
  margin: 0 1rem !important;
  transition: opacity 0.5s;
}
.b-slider .owl-prev {
  padding-right: 0.3rem !important;
}
.b-slider .owl-next {
  padding-left: 0.3rem !important;
}
.b-slider .owl-prev {
  float: left;
  left: -6rem;
}
.b-slider .owl-next {
  float: right;
  right: -6rem;
}
.b-slider .owl-prev:active,
.b-slider .owl-next:active {
  top: 0.1rem;
}
.b-slider.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0;
}
.b-slider.owl-theme .owl-controls {
  position: absolute;
  top: 50%;
  margin-top: -2rem;
  width: 100%;
  height: 0;
}
.b-slider .owl-item {
  width: 100%;
  text-align: center;
}
.b-slider .owl-item.text-left {
  text-align: left;
}
.b-slider a {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.b-slider a img {
  max-width: 100%;
  width: auto;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  .b-slider .owl-prev {
    left: -4.5rem;
  }
  .b-slider .owl-next {
    right: -4.5rem;
  }
}
/*---------------------------------- до 480 ---------------------------------*/
@media screen and (max-width: 479px) {
  .b-slider .owl-prev {
    left: -3rem;
  }
  .b-slider .owl-next {
    right: -3rem;
  }
}
/*------------------------------ Слайдеры (конец) ---------------------------*/
