/* Преподы (начало) */
.b-teacher__photo div {
  position: relative;
  height: 100px;
}
.b-teacher__photo img {
  position: absolute;
  bottom: 0;
  width: 380px;
}
/*-------------------------------------- 480 --------------------------------------*/
/*-------------------------------------- 768 --------------------------------------*/
/*-------------------------------------- 1024 -------------------------------------*/
/*-------------------------------------- до 768 -------------------------------------*/
/*-------------------------------------- до 1024 -------------------------------------*/
/* Преподы (конец) */
