/*
------------------------------ Раскрывающиеся отзывы (начало) --------------------------*/
.b-textroll {
  height: 640px;
  overflow: hidden;
}
.b-textroll .b-textroll__show {
  display: inline-block;
}
.b-textroll .b-textroll__hide {
  display: none;
}
.b-textroll._open .b-textroll__content {
  max-height: none;
}
.b-textroll._open .b-textroll__show {
  display: none;
}
.b-textroll._open .b-textroll__hide {
  display: inline-block;
}
.b-textroll__content {
  max-height: 80px;
  overflow: hidden;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
