/*
------------------------------ ИМЯ_МОДУЛЯ (начало) --------------------------*/
.b-graduates__caption {
  display: inline-block;
  background: url(../img/bg/graduates.png) right center no-repeat;
  padding-right: 160px;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
