/*
------------------------------ ИМЯ_МОДУЛЯ (начало) --------------------------*/
.b-graduates__caption {
  display: inline-block;
  background: url(../img/bg/graduates.png) right center no-repeat;
  padding-right: 160px;
}
.b-contacts__ways {
  background: url(../img/bg/ways.png) center top no-repeat;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
@media screen and (max-width: 1280px) {
  .b-contacts__ways {
    background: none;
  }
}
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ ИМЯ_МОДУЛЯ (конец) ---------------------------*/
