/*
------------------------------ UI (начало) --------------------------*/
/* стили для тегов */
body {
  font: normal 14px/20px 'open sans', sans-serif;
  color: #404041;
}
p {
  margin: 0;
}
a {
  color: #404041;
  text-decoration: none;
  outline: none !important;
}
a:visited {
  color: #404041;
}
a:hover,
a:focus {
  color: #666668;
  text-decoration: none;
}
a:active {
  color: #8c8c8e;
  text-decoration: none;
}
b {
  font-weight: 900;
}
select {
  background: transparent;
  border: 0;
  text-transform: inherit;
  letter-spacing: inherit;
}
img {
  max-width: 100%;
}
blockquote {
  position: relative;
  padding: 0 100px;
  border: 0;
}
blockquote:before {
  content: "“";
  position: absolute;
  left: 0;
  bottom: 100%;
  margin-bottom: -20px;
  font-size: 100px;
}
blockquote:after {
  content: "”";
  position: absolute;
  right: 0;
  top: 100%;
  font-size: 100px;
  margin-top: 30px;
}
article h3,
article p,
article ul,
article ol {
  margin-bottom: 10px;
}
article ul > li {
  padding-left: 15px;
}
article ul > li:before {
  position: absolute;
  margin-left: -10px;
  content: "• ";
  color: #ef4949;
  margin-right: 5px;
}
article ul._check-list > li:before {
  content: "";
  font-family: FontAwesome;
  font-size: 0.7em;
  margin-left: -15px;
}
/* вспомогательные классы */
._hidden {
  display: none;
}
._block {
  display: block;
}
._inline-block {
  display: inline-block;
}
._invisible {
  visibility: hidden;
}
._float-right {
  float: right;
}
._float-left {
  float: left;
}
._clearfix:after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}
._vertical-center {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
}
._vertical-center:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
._vertical-center > * {
  display: inline-block;
  vertical-align: middle;
  font-size: medium;
  max-width: 100%;
}
._block-justify {
  text-align: justify;
  text-align-last: justify;
  line-height: 0;
}
._block-justify > * {
  display: inline-block;
  vertical-align: top;
}
._block-justify:after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
._block-nowrap {
  white-space: nowrap;
  font-size: 0;
}
._block-nowrap > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
}
._nowrap {
  white-space: nowrap;
}
._max-text {
  max-width: 550px;
}
._max-form {
  max-width: 420px;
}
._margin-auto {
  margin-left: auto;
  margin-right: auto;
}
._full-width {
  width: 100%;
}
/* огромный заголовок */
h1,
.h1 {
  font: 900 80px/96px 'museo sans', sans-serif;
  letter-spacing: 12.8px;
  text-transform: uppercase;
  margin: 0;
}
/* названия разделов и секций */
h2,
.h2 {
  font: 900 50px/60px 'museo sans', sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 0 0 60px;
}
h2._with-subtitle,
.h2._with-subtitle {
  margin-bottom: 20px;
}
h2._cta,
.h2._cta {
  font: 700 30px/36px 'museo sans', sans-serif;
  letter-spacing: 3px;
  margin: 0;
}
/* имена людей, названия кейсов */
h3,
.h3 {
  font: 700 20px/24px 'museo sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
h3 strong,
.h3 strong {
  font: 900 18px/22px 'museo sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* должность, компания */
small,
.small {
  font: 700 10px/12px 'museo sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* подзаголовки */
h4,
.h4 {
  font: 700 16px/24px 'museo sans', sans-serif;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin: 0;
}
/* курсивный большой */
i strong {
  font: 400 italic 24px/33px 'open sans', sans-serif;
}
/* курсивный малый */
i {
  font: 400 italic 16px/22px 'open sans', sans-serif;
}
/* курсивный из обычного */
h5,
.h5 {
  font: 400 14px/17px 'museo sans', sans-serif;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
/* Фоны */
._bg-gray {
  background-color: #404041;
  color: #fff;
}
._bg-gray a {
  color: #fff;
}
._bg-gray a:hover {
  color: #ffffff;
}
._bg-blue {
  background-color: #2b9eed;
  color: #fff;
}
._bg-blue a {
  color: #fff;
}
._bg-blue a:hover {
  color: #ffffff;
}
._bg-cyan {
  background-color: #00bf9b;
  color: #fff;
}
._bg-cyan a {
  color: #fff;
}
._bg-cyan a:hover {
  color: #ffffff;
}
._bg-yellow {
  background-color: #ffc626;
  color: #404041;
}
._bg-yellow a {
  color: #404041;
}
._bg-yellow a:hover {
  color: #404041;
}
._bg-red {
  background-color: #ef4949;
  color: #fff;
}
._bg-red a {
  color: #fff;
}
._bg-red a:hover {
  color: #ffffff;
}
._bg-violet {
  background-color: #7a77cc;
  color: #fff;
}
._bg-violet a {
  color: #fff;
}
._bg-violet a:hover {
  color: #ffffff;
}
._bg-purple {
  background-color: #da8eea;
  color: #fff;
}
._bg-purple a {
  color: #fff;
}
._bg-purple a:hover {
  color: #ffffff;
}
._bg-green {
  background-color: #bac10c;
  color: #fff;
}
._bg-green a {
  color: #fff;
}
._bg-green a:hover {
  color: #ffffff;
}
._bg-pink {
  background-color: #ffa583;
  color: #404041;
}
._bg-pink a {
  color: #404041;
}
._bg-pink a:hover {
  color: #404041;
}
a._bg-gray:hover {
  color: #fff;
  background-color: #666668;
}
a._bg-blue:hover {
  color: #fff;
  background-color: #2a8ed4;
}
a._bg-cyan:hover {
  color: #fff;
  background-color: #02b392;
}
a._bg-yellow:hover {
  color: #404041;
  background-color: #f0b91f;
}
a._bg-red:hover {
  color: #fff;
  background-color: #df3535;
}
a._bg-violet:hover {
  color: #fff;
  background-color: #6e6bbf;
}
a._bg-purple:hover {
  color: #fff;
  background-color: #cc82dc;
}
a._bg-green:hover {
  color: #fff;
  background-color: #afb60b;
}
a._bg-pink:hover {
  color: #404041;
  background-color: #ff9269;
}
/* Цветные тексты */
._text-gray {
  color: #404041;
}
._text-gray a {
  color: #404041;
}
._text-gray a:hover {
  color: #666668;
}
._text-blue {
  color: #2b9eed;
}
._text-blue a {
  color: #2b9eed;
}
._text-blue a:hover {
  color: #2a8ed4;
}
._text-cyan {
  color: #00bf9b;
}
._text-cyan a {
  color: #00bf9b;
}
._text-cyan a:hover {
  color: #02b392;
}
._text-yellow {
  color: #ffc626;
}
._text-yellow a {
  color: #ffc626;
}
._text-yellow a:hover {
  color: #f0b91f;
}
._text-red {
  color: #ef4949;
}
._text-red a {
  color: #ef4949;
}
._text-red a:hover {
  color: #df3535;
}
._text-violet {
  color: #7a77cc;
}
._text-violet a {
  color: #7a77cc;
}
._text-violet a:hover {
  color: #6e6bbf;
}
._text-purple {
  color: #da8eea;
}
._text-purple a {
  color: #da8eea;
}
._text-purple a:hover {
  color: #cc82dc;
}
._text-green {
  color: #bac10c;
}
._text-green a {
  color: #bac10c;
}
._text-green a:hover {
  color: #afb60b;
}
._text-white {
  color: #fff;
}
._text-white a {
  color: #fff;
}
._text-white a:hover {
  color: #ffffff;
}
._text-pink {
  color: #ffa583;
}
._text-pink a {
  color: #ffa583;
}
._text-pink a:hover {
  color: #ff9269;
}
a._text-gray:hover {
  color: #666668;
}
a._text-blue:hover {
  color: #2a8ed4;
}
a._text-cyan:hover {
  color: #02b392;
}
a._text-yellow:hover {
  color: #f0b91f;
}
a._text-red:hover {
  color: #df3535;
}
a._text-violet:hover {
  color: #6e6bbf;
}
a._text-purple:hover {
  color: #cc82dc;
}
a._text-green:hover {
  color: #afb60b;
}
a._text-white:hover {
  color: #ffffff;
}
a._text-pink:hover {
  color: #ff9269;
}
/* Кнопки */
.btn {
  font: 700 20px/58px 'museo sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none !important;
  height: 60px;
  padding: 0 30px;
  min-width: 270px;
  background: transparent;
  color: #fff !important;
  border-radius: 0;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  background: #fff;
  color: inherit !important;
}
.btn:active {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  outline: none !important;
}
.btn.btn-blue {
  border: 2px solid #2b9eed;
  color: #2b9eed !important;
}
.btn.btn-blue:hover {
  background: #2b9eed;
  color: #ffffff !important;
}
.btn.btn-wide {
  width: 100%;
  min-width: 0;
}
.btn.btn-readmore {
  font-weight: 900;
  font-size: 14px;
  padding: 0;
  min-width: 0;
  color: inherit !important;
}
/* Формы */
#cta_form {
  padding-top: 90px;
}
.form-control {
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  border-bottom: 2px solid #2b9eed;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font: 700 20px / normal 'museo sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background: none;
  color: #2b9eed;
}
.form-control:-moz-placeholder {
  color: #b8dff9;
}
.form-control::-moz-placeholder {
  color: #b8dff9;
}
.form-control:-ms-input-placeholder {
  color: #b8dff9;
}
.form-control::-webkit-input-placeholder {
  color: #b8dff9;
}
.form-control:focus:-moz-placeholder {
  color: transparent;
}
.form-control:focus::-moz-placeholder {
  color: transparent;
}
.form-control:focus:-ms-input-placeholder {
  color: transparent;
}
.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}
._white .form-control {
  color: #fff;
  border-color: #fff;
}
._white .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
._white .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
._white .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
._white .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
._white .form-control:focus:-moz-placeholder {
  color: transparent;
}
._white .form-control:focus::-moz-placeholder {
  color: transparent;
}
._white .form-control:focus:-ms-input-placeholder {
  color: transparent;
}
._white .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}
/* отступы */
._mb0 {
  margin-bottom: 0px !important;
}
._mb5 {
  margin-bottom: 5px;
}
._mb10 {
  margin-bottom: 10px;
}
._mb15 {
  margin-bottom: 15px;
}
._mb20 {
  margin-bottom: 20px;
}
._mb25 {
  margin-bottom: 25px;
}
._mb30 {
  margin-bottom: 30px;
}
._mb35 {
  margin-bottom: 35px;
}
._mb40 {
  margin-bottom: 40px;
}
._mb45 {
  margin-bottom: 45px;
}
._mb50 {
  margin-bottom: 50px;
}
._mb55 {
  margin-bottom: 55px;
}
._mb60 {
  margin-bottom: 60px;
}
._mb65 {
  margin-bottom: 65px;
}
._mb70 {
  margin-bottom: 70px;
}
._mb75 {
  margin-bottom: 75px;
}
._mb80 {
  margin-bottom: 80px;
}
._mb85 {
  margin-bottom: 85px;
}
._mb90 {
  margin-bottom: 90px;
}
._mb95 {
  margin-bottom: 95px;
}
._mb100 {
  margin-bottom: 100px;
}
/* Расхлопы */
[data-toggle=collapse] > .fa-caret-down {
  display: none;
}
[data-toggle=collapse] > .fa-caret-up {
  display: inline-block;
}
[data-toggle=collapse].collapsed > .fa-caret-down {
  display: inline-block;
}
[data-toggle=collapse].collapsed > .fa-caret-up {
  display: none;
}
.b-icon-title {
  position: relative;
  display: block;
  min-height: 60px;
  padding-left: 85px;
}
.b-icon-title img {
  position: absolute;
  left: 0;
  top: -15px;
}
.b-icon-title span {
  vertical-align: middle;
  line-height: normal;
}
/* прочие тексты */
._txt3 {
  font: 700 30px/36px 'museo sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
._txt4 {
  font: 700 26px/31px 'museo sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
._txt5 {
  font: 700 20px/24px 'museo sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
._txt6 {
  font: 900 18px/22px 'museo sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
._txt7 {
  font: 700 15px/24px 'museo sans', sans-serif;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
._txt8 {
  font: 700 16px/19px 'museo sans', sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
}
._txt9 {
  font: 700 14px/17px 'museo sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
._txt10 {
  font: 700 10px/12px 'museo sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
@media screen and (max-width: 1365px) {
  blockquote {
    padding-left: 40px;
    padding-right: 20px;
  }
}
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 12 4px;
  }
  h2,
  .h2 {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 4px;
    margin: 0 0 30px;
  }
  h2._with-subtitle,
  .h2._with-subtitle {
    margin-bottom: 10px;
  }
  h2._cta,
  .h2._cta {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1.5px;
  }
  h3,
  .h3 {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1.5px;
  }
  h3 strong,
  .h3 strong {
    font-size: 13.5px;
    line-height: 16.5px;
    letter-spacing: 2.25px;
  }
  h4,
  .h4 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2.25px;
  }
  h5,
  .h5 {
    font-size: 10.5px;
    line-height: 12.75px;
    letter-spacing: 2 4.5px;
  }
  .btn {
    font-size: 15px;
    line-height: 43.5px;
    letter-spacing: 1.5px;
    height: 45px;
    padding: 0 22.5px;
  }
  i strong {
    font-size: 18px;
    line-height: 24.75px;
  }
  ._txt4 {
    font-size: 13px;
    line-height: 15.5px;
    letter-spacing: 1.5px;
  }
}
/*-------------------------------------- 600 --------------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ UI (конец) ---------------------------*/
/*
------------------------------ ИМЯ_МОДУЛЯ (начало) --------------------------*/
.b-graduates__caption {
  display: inline-block;
  background: url(../img/bg/graduates.png) right center no-repeat;
  padding-right: 160px;
}
.b-contacts__ways {
  background: url(../img/bg/ways.png) center top no-repeat;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
@media screen and (max-width: 1280px) {
  .b-contacts__ways {
    background: none;
  }
}
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ ИМЯ_МОДУЛЯ (конец) ---------------------------*/
/*
------------------------------ Шапка (начало) --------------------------*/
.b-header {
  width: 100%;
  position: relative;
  z-index: 1;
}
.b-header._light {
  color: #fff;
}
.b-header._light a {
  color: #fff;
}
.b-header._dark {
  color: #404041;
}
.b-header._dark a {
  color: #404041;
}
.b-header__nav {
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 20px;
  margin-left: -20px;
  margin-top: -20px;
  background: none;
  border: none;
  /* text-transform: uppercase;
	letter-spacing: 0.11em;
	font-family: 'museo sans', 'trebuchet ms', sans-serif;
	font-weight: 900; */
  font-weight: 700;
}
.b-header__menu-button {
  display: inline-block;
  cursor: pointer;
}
.b-header__menu-button i {
  display: none;
  font-size: 24px;
  position: relative;
  top: -5px;
}
.b-header__breadcrumps {
  display: inline-block;
}
.b-header__breadcrumps a {
  text-decoration: none;
  opacity: 0.6;
}
.b-header__breadcrumps a:hover {
  opacity: 1;
}
.b-header__city {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}
/* .b-header__city-select {
	.font();
	font-weight: 700;
	cursor: pointer;

	option { color: #000;}
}
 */
.b-header__city-select-wrapper {
  position: relative;
}
.b-header__city-select {
  display: none;
  position: absolute;
  top: -30px;
  left: -30px;
  padding: 23px 30px;
  width: 190px;
  background: #fff;
  color: #404041;
}
.b-header__city-select li {
  white-space: nowrap;
}
.b-header__city-select li a {
  display: inline-block;
  line-height: 30px;
  color: #404041 !important;
}
.b-header__city-select li a:hover {
  font-weight: 900;
}
.b-menu {
  background: rgba(62, 62, 62, 0.9);
  position: fixed;
  z-index: 2;
  left: -640px;
  top: 0;
  height: 100%;
  width: 640px;
  padding-left: 100px;
  padding-top: 30px;
  color: #fff;
  transition: left 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: auto;
}
.b-menu._open {
  left: 0;
}
.b-menu__list {
  margin-bottom: 145px;
}
.b-menu__list a {
  color: #fff;
}
.b-menu__close {
  margin-bottom: 180px;
  color: #fff;
}
.b-menu__close a {
  color: #ffffff;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  .b-header {
    position: absolute;
    padding: 30px;
  }
  .b-header + .b-title {
    padding-top: 120px;
  }
  .b-header__menu-button i {
    display: block;
  }
  .b-header__menu-button span {
    display: none;
  }
  .b-header__breadcrumps {
    display: none;
  }
  .b-menu {
    padding-left: 30px;
  }
}
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ Шапка (конец) ---------------------------*/
/*
------------------------------ Подвал (начало) --------------------------*/
.b-footer__map {
  position: relative;
  width: 100%;
  height: 444px;
  background-color: #888;
  /*backgrounf-image: url(../img/content/map.jpg);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.b-footer__map #footer_gmap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.b-footer__map-text {
  position: absolute;
  min-width: 330px;
  height: 190px;
  line-height: 190px;
  padding: 0 40px;
  left: 80px;
  top: 120px;
  background: #00bf9b;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-footer__map-text-valign {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 26px;
  /* text-transform: uppercase;
	letter-spacing: 0.11em;
	font-family: 'museo sans', 'trebuchet ms', sans-serif;
	font-weight: 900; */
  font-weight: 400;
}
.b-footer__bottom {
  text-align: center;
  height: 117px;
  line-height: 117px;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  .b-footer__map-text {
    left: 0;
  }
}
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ Подвал (конец) ---------------------------*/
/*
------------------------------ Секция (начало) --------------------------*/
.b-section {
  padding: 80px 100px;
}
.b-section._no-padding-bottom {
  padding-bottom: 0;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  .b-section {
    padding: 40px 50px;
  }
}
/*---------------------------------- до 480 ---------------------------------*/
@media screen and (max-width: 479px) {
  .b-section {
    padding: 20px 25px;
  }
}
/*------------------------------ Секция (конец) ---------------------------*/
._hided {
  display: none;
}
.lips-image {
  margin-top: -160px;
}
.b-about__top .two-columns {
  font-size: 19px;
  line-height: 25px;
}
.two-columns .col-md-6 {
  width: 45%;
  margin-right: 5%;
  font-size: 14px;
  line-height: 23px;
  padding-right: 0px;
  padding-left: 0px;
}
.course-form-holder {
  width: 100%;
  transition: all .5s;
  display: none;
}
.course-form-holder .col-md-5 {
  margin: 0 auto;
  float: none;
}
.course-form-holder form label {
  font-size: 12px;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 14px;
  display: block;
}
#tabs-holder > div {
  display: none;
}
#tabs-holder #tab_blog {
  display: block;
}
/* PAGINATION */
.pagination {
  display: block;
  float: right;
  padding-left: 0;
  margin: 0px 0;
  border-radius: 0px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: none;
  font-weight: bold;
  font-family: 'museo sans', sans-serif;
  color: #404041;
  font-size: 18px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bold;
  font-family: 'museo sans', sans-serif;
  color: #404041;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #ef4949;
  color: #fff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ef4949;
  font-weight: bold;
  font-family: 'museo sans', sans-serif;
  cursor: default;
  background-color: transparent;
  border-color: transparent;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: transparent;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.teacher-sub-name {
  display: none;
  height: 200px;
}
.b-teacher__photo {
  cursor: pointer;
}
section.teacher-text {
  padding: 0px 100px 80px;
  clear: both;
  overflow: hidden;
}
section.teacher-text p {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
}
section.teacher-text .b-about__col {
  padding-right: 30px;
  padding-left: 0px;
}
.sharing-right-block {
  text-align: center;
}
.yashare-auto-init .b-share {
  width: 276px;
}
.form-success .yashare-auto-init .b-share .b-share__link {
  border-color: #fff;
  color: #fff !important;
}
.form-success .yashare-auto-init .b-share {
  margin-top: 50px;
}
.yashare-auto-init .b-share .b-share__link {
  font: 700 20px/58px 'museo sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none !important;
  height: 60px;
  padding: 0 30px;
  min-width: 270px;
  background: transparent;
  color: #fff !important;
  border-radius: 0;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #2b9eed;
  color: #2b9eed !important;
  margin-bottom: 15px;
}
.yashare-auto-init .b-share .b-share__link .b-share-icon {
  display: none;
}
.yashare-auto-init .b-share .b-share__link.b-share-btn__vkontakte:before {
  content: 'В Facebook';
  display: block;
  margin-top: -3px;
  text-align: center;
}
.yashare-auto-init .b-share .b-share__link.b-share-btn__facebook:before {
  content: 'Во Вконтакте';
  display: block;
  margin-top: -3px;
  text-align: center;
}
.course-sharing-block .yashare-auto-init .b-share {
  width: 568px;
  margin-right: 0;
}
.course-sharing-block .yashare-auto-init .b-share .b-share-btn__vkontakte {
  margin-right: 20px;
}
.jcarousel-nav-bar {
  position: relative;
  width: 100%;
  height: 17px;
  z-index: 0;
  top: 220px;
}
.jcarousel-nav-bar .jcarousel-nav {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 17px;
  cursor: pointer;
}
.jcarousel-nav-bar .arrow-left {
  background-position: left;
  background-image: url(../img/icon/slider-arrow-left.svg);
  left: -30px;
}
.jcarousel-nav-bar .arrow-right {
  background-position: right;
  background-image: url(../img/icon/slider-arrow-right.svg);
  right: -30px;
}
.jcarousel {
  position: relative;
}
.jcarousel .corousel-element {
  padding: 0 10px;
}
.jcarousel .corousel-element a {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.jcarousel .corousel-element h3,
.jcarousel .corousel-element small {
  width: 90%;
  display: block;
}
.video-bg-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
}
.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.professions-slider {
  height: 60px;
  overflow: hidden;
}
.professions-slider .sliding-profession {
  position: absolute;
  left: 0;
  right: 0;
}
.professions-slider .pro-transition {
  transition: all 1s;
}
.professions-slider .pro-transformRight {
  transform: translate(210%, 0);
}
.professions-slider .pro-transformLeft {
  transform: translate(-210%, 0);
}
.overflown-head {
  overflow: hidden;
}
.blog-teaser .blog-readmore,
.event-teaser .blog-readmore,
.blog-teaser .event-readmore,
.event-teaser .event-readmore {
  display: block;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ef4949;
  position: relative;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.blog-teaser .blog-readmore .decor-block,
.event-teaser .blog-readmore .decor-block,
.blog-teaser .event-readmore .decor-block,
.event-teaser .event-readmore .decor-block {
  width: 53.9%;
  margin: 0 auto;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -26.9%;
  margin-top: -5px;
  background-image: url(../img/icon/decor-string.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.blog-teaser .blog-readmore h3,
.event-teaser .blog-readmore h3,
.blog-teaser .event-readmore h3,
.event-teaser .event-readmore h3 {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
}
.blog-teaser .blog-readmore .h3,
.event-teaser .blog-readmore .h3,
.blog-teaser .event-readmore .h3,
.event-teaser .event-readmore .h3 {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
}
.blog-teaser .blog-readmore p,
.event-teaser .blog-readmore p,
.blog-teaser .event-readmore p,
.event-teaser .event-readmore p {
  position: absolute;
  top: 30px;
  width: 60%;
  text-transform: uppercase;
  font-family: 'museo sans', sans-serif;
  letter-spacing: 0.69px;
  overflow: hidden;
}
.blog-teaser .blog-readmore .annotation,
.event-teaser .blog-readmore .annotation,
.blog-teaser .event-readmore .annotation,
.event-teaser .event-readmore .annotation {
  position: absolute;
  top: 270px;
  width: 60%;
  height: 120px;
  text-transform: uppercase;
  font-family: MuseoSansCyrl-500;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.69px;
  line-height: 31px;
  overflow: hidden;
}
.blog-teaser .blog-readmore time.h5,
.event-teaser .blog-readmore time.h5,
.blog-teaser .event-readmore time.h5,
.event-teaser .event-readmore time.h5 {
  margin-top: 250px;
  display: block;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  width: 280px;
  line-height: 45px;
}
.tab_events {
  min-height: 550px;
}
.header-city-form ul {
  left: 0em;
  top: 7em;
  position: relative;
  z-index: 1000;
  font-size: 100%;
}
.header-city-form ul .nl-dd-checked {
  color: #ef4949 !important;
}
.js-cross-filter-fuckup {
  display: inherit;
}
.js-course-recoloring {
  display: inline-block;
}
.course-teacher-avatar {
  width: 380px;
  height: 380px;
}
.b-teachers__list li a.teacher-list-avatar {
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  background-position: center;
}
.b-teachers__list h3,
.b-teachers__list div {
  max-width: 380px;
}
.main-role-name {
  margin-top: 20px;
}
.more-teachers {
  position: relative;
}
.more-teachers .jcarousel-nav-bar {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
@media screen and (max-width: 992px) {
  .b-teacher__photo {
    padding-left: 0;
  }
  .b-teacher__photo img {
    width: 240px !important;
  }
  section.teacher-text p {
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
  h1 {
    margin-bottom: 120px !important;
  }
  .teacher-text .col-md-4 {
    margin-top: 30px;
  }
}
/*
------------------------------ Первый слайд страниц (начало) --------------------------*/
.b-title {
  width: 100%;
  /* height: 600px; */
  min-height: 600px;
  padding-top: 40px;
  background: #ef4949;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  transition: all .5s;
  position: relative;
}
.b-title._long {
  height: auto;
  min-height: 700px;
}
.b-title._short {
  height: auto;
  min-height: 440px;
  padding-top: 20px;
}
.b-title._violet {
  background: #7a77cc;
}
.b-title._yellow {
  background: #ffc626;
}
.b-title._yellow .b-title__text {
  color: #404041;
}
.b-title._invert .b-title__text {
  color: #404041;
}
.b-title._videoheader {
  position: relative;
  background: none;
}
.b-title._videoheader .element {
  min-height: 60px;
}
.b-title__videoheader {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.b-title__logo {
  width: 130px;
  height: 100px;
  padding: 40px auto 100px;
  margin: auto;
  z-index: 1;
  position: relative;
}
.b-title__text {
  padding: 100px;
  color: #fff;
  text-align: center;
  z-index: 0;
  position: relative;
}
.b-title__text-small {
  /* font-style: italic;
	font-weight: bold;
	font-size: 14px;
	font-family: 'trebuchet ms';
	letter-spacing: 0;
	text-transform: none; */
  font-size: 24px;
  padding: 30px 0;
}
.b-title__action {
  text-align: center;
  color: #fff;
  padding: 50px 0;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  .b-title {
    height: auto !important;
    min-height: 0 !important;
    padding-bottom: 20px;
  }
  .b-title__text {
    padding: 50px 20px 10px;
  }
  .b-title__logo {
    margin: 20px auto;
  }
}
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ Первый слайд страниц (конец) ---------------------------*/
/*
------------------------------ Курсы (начало) --------------------------*/
.b-courses._time-at-bottom a {
  position: relative;
}
.b-courses._time-at-bottom time {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25px;
}
.b-courses._modules a {
  height: 100%;
  min-height: 120px;
}
.b-courses._modules a._all {
  min-height: 120px;
}
.b-courses__link {
  display: block;
  text-decoration: none !important;
  padding: 25px;
  min-height: 180px;
  height: 100%;
}
.b-courses__link._all {
  width: 100%;
  text-align: center;
  font-size: 0;
  min-height: 180px;
  height: 100%;
  color: #2b9eed !important;
  border: 2px solid #2b9eed;
  background: #fff;
}
.b-courses__link._all:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.b-courses__link._all > * {
  display: inline-block;
  vertical-align: middle;
  font-size: medium;
  max-width: 100%;
}
.b-courses__descr {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
  height: 80px;
}
.b-courses__descr:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.b-courses__descr > * {
  display: inline-block;
  vertical-align: middle;
  font-size: medium;
  max-width: 100%;
}
.b-courses__small {
  height: 90px;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ Курсы (конец) ---------------------------*/
/*
------------------------------ Слайдеры (начало) --------------------------*/
.b-slider {
  position: relative;
}
/* контролы слайдера*/
.b-slider .owl-prev,
.b-slider .owl-next {
  position: relative;
  top: -2rem;
  border-radius: 2rem !important;
  width: 4rem;
  height: 4rem;
  line-height: 3.7rem;
  font-size: 3rem !important;
  padding: 0 !important;
  background: none !important;
  color: #000 !important;
  text-align: center;
  font-size: 2rem;
  margin: 0 1rem !important;
  transition: opacity 0.5s;
}
.b-slider .owl-prev {
  padding-right: 0.3rem !important;
}
.b-slider .owl-next {
  padding-left: 0.3rem !important;
}
.b-slider .owl-prev {
  float: left;
  left: -6rem;
}
.b-slider .owl-next {
  float: right;
  right: -6rem;
}
.b-slider .owl-prev:active,
.b-slider .owl-next:active {
  top: 0.1rem;
}
.b-slider.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0;
}
.b-slider.owl-theme .owl-controls {
  position: absolute;
  top: 50%;
  margin-top: -2rem;
  width: 100%;
  height: 0;
}
.b-slider .owl-item {
  width: 100%;
  text-align: center;
}
.b-slider .owl-item.text-left {
  text-align: left;
}
.b-slider a {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.b-slider a img {
  max-width: 100%;
  width: auto;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  .b-slider .owl-prev {
    left: -4.5rem;
  }
  .b-slider .owl-next {
    right: -4.5rem;
  }
}
/*---------------------------------- до 480 ---------------------------------*/
@media screen and (max-width: 479px) {
  .b-slider .owl-prev {
    left: -3rem;
  }
  .b-slider .owl-next {
    right: -3rem;
  }
}
/*------------------------------ Слайдеры (конец) ---------------------------*/
/*
------------------------------ Соцкнопки (начало) --------------------------*/
.b-social {
  font-size: 18px;
}
.b-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 35px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 2px solid #fff;
  position: relative;
  transition: all 0.2s linear;
}
.b-social a:active {
  opacity: 0.9;
}
.b-social a._facebook {
  background-color: #3b5998;
}
.b-social a._facebook:hover {
  border-color: #3b5998;
  color: #3b5998;
}
.b-social a._vkontakte {
  background-color: #4c75a3;
}
.b-social a._vkontakte:hover {
  border-color: #4c75a3;
  color: #4c75a3;
}
.b-social a._instagram {
  background-color: #a17056;
}
.b-social a._instagram:hover {
  border-color: #a17056;
  color: #a17056;
}
.b-social a._youtube {
  background-color: #e22a22;
}
.b-social a._youtube:hover {
  border-color: #e22a22;
  color: #e22a22;
}
.b-social a._twitter {
  background-color: #0084b4;
}
.b-social a._twitter:hover {
  border-color: #0084b4;
  color: #0084b4;
}
.b-social a:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transition: all 0.2s linear;
}
.b-social a:hover:before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.b-social__photos li {
  width: 20%;
}
.b-social__photos img {
  width: 100%;
}
.b-social__photos a {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
@media screen and (max-width: 767px) {
  .b-social__photos li {
    width: 100%;
  }
}
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ Соцкнопки (конец) ---------------------------*/
/*
------------------------------ О нас (начало) --------------------------*/
.b-about__directions > li {
  min-height: 295px;
}
.b-about__directions > li .fa-caret-up {
  display: inline;
}
.b-about__directions > li .fa-caret-down {
  display: none;
}
.b-about__directions > li a,
.b-about__directions > li a > span {
  display: block;
}
.b-about__directions > li a.collapsed span {
  color: #404041 !important;
}
.b-about__directions > li a.collapsed .fa-caret-up {
  display: none;
}
.b-about__directions > li a.collapsed .fa-caret-down {
  display: inline;
}
.b-about__top {
  min-height: 90px;
}
.astronaut {
  margin-top: -95px;
}
.b-about__course-list {
  background: url(../img/icon/curly-branch.svg) center top no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  padding-top: 120px;
  background-size: 75.8%;
}
.b-about__course-list h3 {
  margin-bottom: 50px;
}
.b-about__course-list h3 strong {
  position: relative;
}
.b-about__course-list h3 strong:before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 22px;
  background-image: url(../img/icon/arrow-down.svg);
  bottom: -35px;
  left: 50%;
  margin-left: -6px;
}
.b-about__course-text {
  min-height: 190px;
}
.b-about__course-text p {
  font: 300 italic 14px/20px 'open sans', sans-serif !important;
}
.b-about__step-caption {
  height: 110px;
  padding: 0 25px;
  border: 2px dashed #ef4949;
}
.b-about__step-caption span {
  line-height: 19px !important;
}
.b-about__step-name {
  padding: 20px 0;
}
.b-about__step-list b {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
.b-about__step-list p {
  text-align: left;
  margin-bottom: 50px;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ О нас (конец) ---------------------------*/
/*
------------------------------ Основной курс (начало) --------------------------*/
.b-primary > li {
  clear: both;
  margin-bottom: 30px;
}
.b-primary__title {
  position: relative;
  display: block;
  min-height: 60px;
  padding-left: 85px;
}
.b-primary__title .fa-caret-down {
  display: none;
}
.b-primary__title .fa-caret-up {
  display: inline-block;
}
.b-primary__title.collapsed span {
  color: #404041 !important;
}
.b-primary__title.collapsed .fa-caret-down {
  display: inline-block;
}
.b-primary__title.collapsed .fa-caret-up {
  display: none;
}
.b-primary__title img {
  position: absolute;
  left: 0;
  top: -15px;
}
.b-primary__title span {
  vertical-align: middle;
  line-height: normal;
}
.b-primary__step {
  padding-left: 85px;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
@media screen and (max-width: 1023px) {
  .b-primary__step {
    padding-left: 0;
  }
  .b-primary__all-teachers {
    text-align: left;
  }
}
/*---------------------------------- до 768 ---------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ Основной курс (конец) ---------------------------*/
/*
------------------------------ Раскрывающиеся отзывы (начало) --------------------------*/
.b-textroll {
  height: 640px;
  overflow: hidden;
}
.b-textroll .b-textroll__show {
  display: inline-block;
}
.b-textroll .b-textroll__hide {
  display: none;
}
.b-textroll._open .b-textroll__content {
  max-height: none;
}
.b-textroll._open .b-textroll__show {
  display: none;
}
.b-textroll._open .b-textroll__hide {
  display: inline-block;
}
.b-textroll__content {
  max-height: 80px;
  overflow: hidden;
}
.b-textroll__img {
  max-height: 430px;
  overflow: hidden;
}
/* MOBILE FIRST */
/*---------------------------------- от 480 ------------------------------------*/
/*---------------------------------- от 768 ------------------------------------*/
/*---------------------------------- от 1024 -----------------------------------*/
/*---------------------------------- от 1366 -----------------------------------*/
/* MOBILE LAST */
/*---------------------------------- до 1366 --------------------------------*/
/*---------------------------------- до 1024 --------------------------------*/
/*---------------------------------- до 768 ---------------------------------*/
/*---------------------------------- до 480 ---------------------------------*/
/*------------------------------ Раскрывающиеся отзывы (конец) ---------------------------*/
/* Преподы (начало) */
.b-teacher__photo div {
  position: relative;
  height: 100px;
}
.b-teacher__photo img {
  position: absolute;
  bottom: 0;
  width: 380px;
}
/*-------------------------------------- 480 --------------------------------------*/
/*-------------------------------------- 768 --------------------------------------*/
/*-------------------------------------- 1024 -------------------------------------*/
/*-------------------------------------- до 768 -------------------------------------*/
/*-------------------------------------- до 1024 -------------------------------------*/
/* Преподы (конец) */
